body {
  background-image: url("https://images.wallpaperscraft.com/image/surfer_surfing_shore_121476_2560x1080.jpg");
  color: yellow;
  font-family: 'Monospace', sans-serif;
  text-align: center;
}

h1, h2 {
  font-family: 'Monospace', sans-serif;
  color: yellow;
}

p {
  margin: 5px 25px;
}

.profile {
  padding-left: 140px;
}

div.image.profile {
  width: 50px;
  height: 200px;
  float: left;
  margin: 20px 25px;
}

div.image.profile img {
  width: 200px;
  height: 200px;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(25%, 25%);
}

.image {
  position:relative;
  text-align: center;
  float: left;
}

.text {
  left: 0;
  position: absolute;
  top: 175px;
  width: 100%;
}
